<article class="post">
  <div class="title">
    <div class="card-header">
      <a href="{{review_text}}" target="_blank">{{title}}</a>
      
      <p class="card-text">Posted by {{user.username}} on {{format_date created_at}}
        |
        <a href="/post/{{id}}"></a>{{review.length}} {{format_plural "review" review.length}}</p>
    </div>
    <div class="card-body">
      <p class="card-text">{{review_text}}</p>
    </div>
  </div>
</article>