<section>
  <h2>Create a Review</h2>


  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-review">Review</label>
      <input type="text" id="review-text" name="review-text" />
    </div>
    <button type="submit" class="btn">add Review</button>
  </form>
</section>

{{#if review.length}}
<section>
  <div class="col-12 col-md-6">
  <h2>Your Reviews</h2>
  <ol>
    {{#each review as |review|}}
    <li>
      {{!-- {{> post-info review}} --}}
      <div class="card">
        <div class="card-header">
          <a href="/post/{{id}}" target="_blank">{{title}}</a>
          <p class="card-text">Posted by {{user.username}} on {{format_date created_at}}
            |
            <a href="/post/{{id}}"></a>{{review.length}} {{format_plural "review" review.length}}</p>
        </div>
        <div class="card-body">
          <p class="card-text">{{review_text}}</p>
        </div>
      </div>
      <a href="/dashboard/edit/{{review.id}}" class="edit-link">Edit Review</a>
    </li>
    {{/each}}
  </ol>
  </div>
</section>
{{/if}}

<script src="/javascript/add-review.js"></script>