<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Review
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{review.title}}" />
      <span>({{format_review.title}})</span>
    </div>
    <br>
    <div>
      <input name="post-review_text" type="text" value="{{review.review_text}}" />
      {{!-- <span>({{format_review.review_text}})</span> --}}
    </div>
    <div>
      Posted by you on {{format_date review.created_at}}
      |
    </div>
    <button type="submit">Save Review</button>
    <button type="button" class="delete-post-btn">Delete Review</button>
  </form>
</article>

{{> reviews post.reviews}}

<script src="/javascript/edit-review.js"></script>
<script src="/javascript/delete-review.js"></script>