<ul class="list-group list-group-flush">
    <li class='h2 card-title list-group-item'>{{movie.title}} </li>
    {{!-- Probably need a different list item for the movie image --}}
    <li class='card-subtitle list-group-item'>{{movie.image}}</li>
    <li class='h4 card-title list-group-item'>{{movie.synopsis}}</li>
    <li class='card-subtitle list-group-item'>
        {{!-- Not too sure if we need this href --}}
        <a href="/dashboard/edit-user/{{author.id}}">Update your review</a>
    </li>
</ul>

<div>
<p> Hey loook</p>
{{#each movieResults}}
  <div class="card">
    <div class="card-header">
    <div class="card-body">
        <div>
            {{Title}}
        </div>
    </div>
    </div>
  </div>
{{/each}}
</div>